/*
  Possible Animations:
  enter
  leave
  appear Must set transitionAppear={true} on animation component
*/

/* When we use CSSTransitionGroup, React is giving us some temporary classes on the components to work on (order-enter, order-enter-active etc) */

.order-enter
  transition all 0.5s
  transform translateX(-120%)
  max-height 0
  padding 0 !important
  &.order-enter-active
    max-height 60px
    padding 2rem 0 !important
    transform translateX(0)

.order-leave
  transition all 0.5s
  transform translateX(0)
  &.order-leave-active
    max-height 0
    padding !important
    transform translateX(120%)

.count-enter
  transition all 0.25s
  transform translateY(100%) // begin offscreen
  &.count-enter-active
    transform translateY(0) // put in normal resting spot

.count-leave
  transition all 0.25s
  position absolute
  left 0
  bottom 0
  transform translateY(0)   // start where it is
  &.count-leave-active
    transform translateY(-100%)
